body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

main{
    padding-left: 20px;
    padding-right: 20px;
}


nav{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 150px;
    background-color: pink;

}

.logo img{
    width: 200px;
    align-items: start;
    padding: 5px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 20px;
}

.nav-lista {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-around; /* Espaça os itens igualmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 100%; /* Garante que o menu ocupe a largura total do nav */
    padding: 0; /* Remove o padding extra */
    list-style: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove margens extras */
}

.nav-lista li {
    flex: 1; /* Opcional: garante espaço igual para cada link */
    text-align: center; /* Centraliza o texto de cada item */
}

.nav-lista li a {
    display: block; /* Torna o link um bloco para melhor controle */
    color: rgb(101, 5, 106); /* Define a cor */
    padding: 10px 0; /* Ajusta o espaço interno */
}

.img{
    width: auto;
    height: 500px;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex; /* Torna o contêiner flexível */
    justify-content: space-between; /* Espaça os itens uniformemente */
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 90px;
}

.foto {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaçamento entre as imagens */
}

.foto img {
    width: 800%; /* Cada imagem ocupa 45% da largura do contêiner */
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.text{
    width: 40%; /* Cada um ocupa metade da largura */
    font-size: 23px;
}

.ft img{
    width: 300px;
}

